/* Example CSS adjustments */
nav {
  position: relative;
}

nav .hidden {
  display: none;
}

nav .block {
  display: block;
}

@media (min-width: 768px) {
  nav .absolute {
    position: relative;
    top: 0;
    width: auto;
    background: none;
  }
}

@keyframes scroll {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }





 
